* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(110,10,14);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*///////////////////////////////////////////// Grid \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.grid-container {
    height: 100vh;
    display: grid;
    grid-area: start;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(12.5%, 1fr));
    justify-content: space-evenly;
}

.game div {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.red {
    background: red;
}

.green {
    background: green;
}

.hidden {
    display: none;
    
}

.text {
    font-size: 2rem;
    color: aliceblue;
}

.question {
    width: 30%;
    text-align: center;
    color: aliceblue;
    
    
}

.question:hover {
    width: 40%;
}

.start {
    width: 100%;
    
}

